* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FBF4EF;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #D66049;
    text-align: end;
    padding: 20px;
    color: #fff;
}

#titulo {
    font-family: "Bad Script", cursive;
    font-size: x-large;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}


nav ul {
    font-family: "Poppins", sans-serif;
    list-style: none;
    display: flex;
    flex-direction: row;
}

nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    padding: 1vh 2vh;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #FBF4EF;
    padding: 5vh 2vh;
    color: #D66049; 
}


@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
    .card {
        width: calc(50% - 30px);
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 10px;
    }
    .card {
        width: calc(100% - 20px);
    }
}

footer {
    background-color: #D66049;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #fff;
}

main {
    display: flex;
    
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 1%;
    width: 99%;
}

.food-title {
    margin: 8px;
}

.vitrine {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    padding: 10px;
    border: 1px solid rgb(174, 166, 166);
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px  rgba(107, 106, 106, 0.816);
    transition: 0.2s;
    width: 55vh;
}
.vitrine:hover {
    box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.816);
}

.vitrine img {
    border-radius: 5px;
    width: 150px;
    height: 100px;
    
}
.vitrine ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10px 0 0;
}
.vitrine ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 35px;
    background: rgb(239, 239, 239);
    border: 1px solid rgba(107, 106, 106, 0.816);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
    color: black;
}
.vitrine ul li a:hover {
    color: aliceblue;
    background-color: #D66049;
    border: 1px solid rgba(0, 0, 0, 0.816);
}

.foto {
    display: flex;
    align-items: end;
    justify-content: right;
}
.container-vitrine {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}